<div class="font-text">
  <mat-toolbar color="primary" [ngClass]="{'nav_bar_onchange': hasScrolled}" class="nav_bar flex flex-col justify-start sm:justify-center sm:flex-row">
    <button mat-icon-button fxHide.gt-sm (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span fxHide.lt-sm class="header-line relative" routerLink="home" routerLinkActive="nav_bar--active">HOME</span>
    <span fxHide.lt-sm class="header-line relative" routerLink="travel_info" routerLinkActive="nav_bar--active">TRAVEL INFO</span>
    <span fxHide.lt-sm class="header-line relative" routerLink="packages" routerLinkActive="nav_bar--active">PACKAGES</span>
    <span fxHide.lt-sm class="header-line relative" routerLink="about_us" routerLinkActive="nav_bar--active">ABOUT US</span>
    <span fxHide.lt-sm class="header-line relative" routerLink="faq" routerLinkActive="nav_bar--active">FAQ</span>
    <span fxHide.lt-sm class="header-line relative" routerLink="contact_us" routerLinkActive="nav_bar--active">CONTACT US</span>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <a mat-list-item href="m">HOME</a>
      <a mat-list-item href="m">ABOUT US</a>
      <a mat-list-item href="m">PACKAGES</a>
      <a mat-list-item href="m">TRANSPORTATION</a>
      <a mat-list-item href="m">CONTACT US</a>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
