<div class="flex flex-row justify-center items-center contact-us font-medium p-[36px]">
  <div fxFlex="60" fxLayout="row" class="flex flex-row w-[60%]">
    <img width="50%" src="https://www.nationsonline.org/maps/bhutan_map.jpg" alt="map">
  </div>
  <div class="contact-us__form w-[40%]">
    <p class="contact-us__heading">Reach To Us</p>
    <div class="flex flex-row flex-wrap">
      <mat-form-field appearance="fill" class="form-filed w-full">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="name" class="name">
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-filed w-full">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" placeholder="email">
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Message</mat-label>
        <textarea matInput placeholder="Message"></textarea>
      </mat-form-field>
      <button mat-button color="primary" class="bg-amber-300 active:bg-blue-300 !py-[10px] !px-[80px]">Submit</button>
    </div>
  </div>
</div>
