.contact-us {
  padding: 40px;

  &__heading {
    font-size: 38px;
    margin-bottom: 24px;
  }

  &__form {
    padding: 36px;
  }
}

.name {
  border: 1px solid slategrey;
}

[role="button"] {
  background: slategrey;
  padding: 16px;
  color: white;
}

[aria-valuetext="sonam"] {
  background: #B0CAF0;
  color: lightseagreen;
  padding: 15px;
}
