<div class="flex flex-col justify-center items-center p-[36px]">

  <h1>About Us</h1>
  <p class="text-black/60 mt-[28px]">Enjoy Your ride with Gagel Tours and Travels</p>
  <div class="p-[16px] mt-[36px]">
    <div class="flex flex-row justify-center px-[80px]">
      <div class="w-[50%]">
        <img src="/assets/swiper_three.avif" alt="image of scene">
      </div>
      <div class="w-[50%] p-[32px] bg-[slategray] text-white/60 flex flex-col justify-center items-center">
        <div class="flex flex-col justify-center items-center">
          <h1 class="text-white">test</h1>
          <p class="mt-[36px] text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus cupiditate dolor explicabo fugit harum inventore laborum, nisi odit officiis placeat rem repellat rerum! Aliquid amet eaque ipsum iure magni!20  </p>
        </div>
      </div>
    </div>
    <div class="flex flex-row justify-center px-[80px]">
      <div class="w-[50%] p-[32px] bg-[slategray] text-white/60 flex flex-col justify-center items-center">
        <div class="flex flex-col justify-center items-center">
          <h1 class="text-white">test</h1>
          <p class="mt-[36px] text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus cupiditate dolor explicabo fugit harum inventore laborum, nisi odit officiis placeat rem repellat rerum! Aliquid amet eaque ipsum iure magni!20  </p>
        </div>
      </div>
      <div class="w-[50%]">
        <img src="/assets/swiper_one.avif" alt="image of scene">
      </div>
    </div>
    <div class="flex flex-row justify-center px-[80px]">
      <div class="w-[50%]">
        <img src="/assets/about_us.avif" alt="image of scene">
      </div>
      <div class="w-[50%] p-[32px] bg-[slategray] text-white/60 flex flex-col justify-center items-center">
        <div class="flex flex-col justify-center items-center">
          <h1 class="text-white">test</h1>
          <p class="mt-[36px] text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus cupiditate dolor explicabo fugit harum inventore laborum, nisi odit officiis placeat rem repellat rerum! Aliquid amet eaque ipsum iure magni!20  </p>
        </div>
      </div>
    </div>
  </div>
</div>
