.about_us {

  &--label {
    font-size: 40px;
    margin-bottom: 16px;
  }
}


.clip-path {
  clip-path: polygon(100% 0, 74% 49%, 100% 99%, 0 100%, 0 2%);
}
.clip-path-send {
  clip-path:polygon(100% 0, 74% 49%, 100% 100%);
  margin-left: -720px;
}

