<div class="flex flex-col justify-center items-center py-[24px] md:p-[36px]">
  <h1 role="heading">About Us</h1>
  <p class="text-black/60 mt-[28px]" role="doc-subtitle">Enjoy Your trip with Gagel Tours and Travels</p>
  <div class="p-[16px] mt-[36px]">
    <div class="flex flex-col md:flex-row justify-center md:px-[80px]">
      <div class="md:w-[50%] w-full">
        <img src="/assets/swiper_three.avif" alt="image of scene">
      </div>
      <div class="md:w-[50%] w-full p-[32px] bg-[slategray] text-white/60 flex flex-col justify-center items-center">
        <div class="flex flex-col justify-center items-center">
          <p class="text-4xl text-white">Join me on an adventure to discover Bhutan</p>
          <p class="mt-[36px] text-center">
            Gagel Tours and Travels is a Bhutan-based company specializing in inbound travel. They are led by a team of enthusiastic professionals who are dedicated to their work and take great joy in introducing the beautiful country of Bhutan to travelers from around the globe.
          </p>
        </div>
      </div>
    </div>
    <div class="flex md:flex-row flex-col justify-center md:px-[80px]">
      <div class="w-full md:w-[50%] p-[32px] bg-[slategray] text-white/60 flex flex-col justify-center items-center">
        <div class="flex flex-col justify-center items-center">
          <p class="text-white text-4xl">Thrills & Immersion</p>
          <p class="mt-[36px] text-center">
            Our team is highly experienced in leading Western tourists throughout Bhutan, and we possess a deep understanding of your desires and preferences. Our primary goal is to provide you with a unique and comfortable travel experience in our country, tailored to your specific interests and activities. We have extensively explored every region of Bhutan, allowing us to share our intimate knowledge of Festivals, Trekking, Cultural Tours, Customized Packages, Wedding Packages, as well as various culturally and historically significant destinations.
          </p>
        </div>
      </div>
      <div class="md:w-[50%] w-full">
        <img src="/assets/swiper_one.avif" alt="image of scene" role="img">
      </div>
    </div>
    <div class="flex flex-col md:flex-row justify-center md:px-[80px]">
      <div class="md:w-[50%] w-full">
        <img src="/assets/about_us.avif" alt="image of scene">
      </div>
      <div class="md:w-[50%] w-full p-[32px] bg-[slategray] text-white/60 flex flex-col justify-center items-center">
        <div class="flex flex-col justify-center items-center">
          <p class="text-4xl text-white">First and foremost, hospitality</p>
          <p class="mt-[36px] text-center">

            We take great pride in the level of service we provide, both during the planning phase and throughout your stay in Bhutan. The numerous referrals and repeat visits we receive from satisfied clients speak volumes about our commitment to excellence. When you choose to travel to Bhutan with Beyond the Sky Adventures, you can rest assured that you will not be let down.

            Lastly, we would like to express our gratitude and appreciation for taking the time to learn about our company. We are confident that we can continue to foster a strong business relationship in the future.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
