<div class="travel_info md:p-[68px] leading-7">
  <div class="mb-[20px] md:flex md:flex-row justify-center md:ml-[16px] p-[24px]">
    <div class="md:w-[20%] flex justify-center items-center">
      <p class="md:text-6xl text-3xl text-center md:tracking-widest">Bhutan<br> Visa<br> Information</p>
    </div>
    <div class="w-[20%] flex justify-center items-center text-9xl hidden md:flex">
      <i class="fa-solid fa-plane"></i>
    </div>
    <section class="md:w-[60%] md:mx-[30px]">
      <p class="text-justify md:leading-7 text-black/60 mt-[24px] tracking-wide">With the exception of visitors from India, Bangladesh and Maldives, all other visitors travelling to Bhutan need a visa.
        Indian, Bangladeshis and Maldivian nationals can obtain a permit at the port of entry on producing a valid passport with a minimum of 6 months validity (Indian nationals may also use their Voters Identity Card
        (VIC)). All other tourists must obtain a visa clearance prior the travel to Bhutan. Visas is processed through an online system by your licensed Bhutanese tour operator directly or through a foreign travel agent.
        You are required to send the photo-page of your passport to your tour operator who will then apply for your visa. The visa will be processed by the Tourism Council of Bhutan (TCB) once the full payment of your holiday
        (including a USD $40 visa fee) has been wire transferred and received in the TCB bank account. Once received, the visa clearance will be processed within 72 working hours
        At your point of entry you will be required to show your visa clearance letter, the visa will then be stamped into your passport. 
        Foreigners issued with a valid SAARC Visa Exemption Sticker do not require  prior visa/entry permit clearance.</p>
      <a href="https://visit.doi.gov.bt/" target="_blank" role="link" aria-label="Link to the procedure for visa">
        <button class="py-[16px] !mt-[32px] !px-[40px] bg-[#708090] text-white hover:tracking-wider hover:shadow-2xl">Procedure Of Visa</button>
      </a>
    </section>
  </div>
  <hr>
  <div class="flex leading-7 bg-[#708090] text-white/70 mt-[36px] md:mx-[40px] p-[24px]">
    <div class="flex flex-col md:flex-row md:p-[40px] items-center text-justify my-[36px] animate-4">
      <div class="md:w-[50%] flex items-center justify-center">
        <img src="/assets/gateway.avif" width="600px" class="card-clip" alt="card clip of flight in the travel information">
      </div>
      <section class="md:w-[50%] md:pr-[40px]">
        <p class="md:text-6xl text-3xl text-white mt-[24px] tracking-wide mb-[24px] leading-7">Entry Gateway</p>
        <p class="leading-7 mb-[24px] md:leading-7 text-white/60">There are different ways to enter Bhutan. You can fly into Paro
          from various cities like Kathmandu, New Delhi, Kolkata, Guwahati, Bagdogra, Bangkok or
          Singapore. Alternatively, you can also enter Bhutan by road through border crossings at
          Jaigaon-Phuentsholing, Dadgari-Gelephu, or Guwahati-Samdrup Jongkhar.</p>
        <hr>
        <p class="md:text-6xl text-3xl tracking-wide text-white mt-[36px] mb-[24px]">Mandatory For All!!!</p>
        <p class="leading-7 tracking-wide text-white/60">All foreign nationals must obtain visa clearance through us before travelling to Bhutan.
          The actual visa is stamped upon your arrival. The Tourism Council of Bhutan approves your visa clearance only after receiving the full tour payment
          including the visa fee of USD 40 along with a scanned colour photocopy of your passport which should be at least six months valid. Nationals of India,
          Maldives and Bangladesh do not need visa.
        </p>
      </section>
    </div>
  </div>
</div>
