.img {
  animation: spin infinite round(360);
}

@keyframes spin {
  0% {
    rotate: round(260);
  }

  100% {
    transform: rotate(360deg);
  }
}

.card-clip {
  clip-path: circle(200px at 50% 50%);
}


.test {
  @apply border-b border-primary-87;
}
