.packages {
  margin-top: 32px;
  margin-bottom: 32px;

  .font-size {
    font-size: 40px;
    margin-bottom: 24px;
  }

  .mat-card--packages {
    z-index: -1;
    margin-top: 32px;
  }
}

.text-background {
  background-color: rgba(255, 255, 255, 0.8);
}

.card-clip {
  clip-path: circle(200px at 50% 50%);
}

