<div fxLayout="row" class="transportation" fxLayout.lt-sm="column">
  <div fxFlex="33.33" class="transportation--description">
    <h1>Test is the Testing</h1>
    <p class="text--align">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi aperiam autem cumque distinctio dolorem ducimus facere fuga incidunt itaque laborum libero magni maiores nam natus nemo nihil non officia omnis praesentium recusandae, rem repellat rerum saepe sit velit voluptatibus! A accusantium dignissimos inventore ipsam magni officiis repellat vel voluptates.</p>
  </div>
  <div fxFlex="33.33">
    <img class="transportation--img" width="100%" src="https://media-cdn.tripadvisor.com/media/photo-s/06/aa/ec/fc/authentic-bhutan-tours.jpg"/>
  </div>
  <div fxFlex="33.33" class="transportation--description">
    <h1>Fly with us </h1>
    <p class="text--align">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate explicabo facere ipsum magni maxime pariatur quia soluta? Cum, ipsam, libero! Aliquid architecto beatae debitis dolores perferendis qui repellendus, repudiandae velit!</p>
  </div>
</div>

<div fxLayout="row" class="transportation" fxLayout.lt-sm="column">
  <div fxFlex="33.33" class="transportation--description">
    <h1>Test is the Testing</h1>
    <p class="text--align">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi aperiam autem cumque distinctio dolorem ducimus facere fuga incidunt itaque laborum libero magni maiores nam natus nemo nihil non officia omnis praesentium recusandae, rem repellat rerum saepe sit velit voluptatibus! A accusantium dignissimos inventore ipsam magni officiis repellat vel voluptates.</p>
  </div>
  <div fxFlex="33.33">
    <img class="transportation--img" width="100%" src="https://media-cdn.tripadvisor.com/media/photo-s/06/aa/ec/fc/authentic-bhutan-tours.jpg"/>
  </div>
  <div fxFlex="33.33" class="transportation--description">
    <h1>Fly with us </h1>
    <p class="text--align">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate explicabo facere ipsum magni maxime pariatur quia soluta? Cum, ipsam, libero! Aliquid architecto beatae debitis dolores perferendis qui repellendus, repudiandae velit!</p>
  </div>

</div>

<div fxLayout="row" class="transportation" fxLayout.lt-sm="column">
  <div fxFlex="33.33" class="transportation--description">
    <h1>Test is the Testing</h1>
    <p class="text--align">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi aperiam autem cumque distinctio dolorem ducimus facere fuga incidunt itaque laborum libero magni maiores nam natus nemo nihil non officia omnis praesentium recusandae, rem repellat rerum saepe sit velit voluptatibus! A accusantium dignissimos inventore ipsam magni officiis repellat vel voluptates.</p>
  </div>
  <div fxFlex="33.33">
    <img class="transportation--img" width="100%" src="https://media-cdn.tripadvisor.com/media/photo-s/06/aa/ec/fc/authentic-bhutan-tours.jpg"/>
  </div>
  <div fxFlex="33.33" class="transportation--description">
    <h1>Fly with us </h1>
    <p class="text--align">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate explicabo facere ipsum magni maxime pariatur quia soluta? Cum, ipsam, libero! Aliquid architecto beatae debitis dolores perferendis qui repellendus, repudiandae velit!</p>
  </div>
</div>

