<div class="flex bg-white text-black leading-7">
  <div class="container_div flex justify-center mt-[120px]">
    <p class="text-6xl">About Bhutan</p>
  </div>
  <div class="container_div_two">
    <h3 class="mb-[24px] text-center text-4xl font-bold">The Land Of Thunder Dragon</h3>
    <p class="text-justify">Bhutan, a hidden kingdom nestled in the towering Himalayan range, is a highly coveted
      destination that even seasoned travelers consider a privilege to visit. The region boasts of ancient sacred monasteries perched on sheer cliffs,
      colorful prayer flags lining mountain ridges, and red-robed monks chanting in distant temples. During Buddhist festivals,
      vibrant masked dancers perform ancient rituals on sacred Dzong (fortress) grounds. The people of Bhutan have
      a rich cultural heritage that is deeply rooted in their timeless identity. Despite opening its doors to tourism
      in 1974, the number of visitors is kept to an environmentally sustainable level through government-regulated tariffs.
      Bhutan is a predominantly Buddhist kingdom, with its people renowned for their happiness and proud of their national costume. Gagel Tours and Travels offers a unique opportunity
      to explore the awe-inspiring mysteries of the land, from snow-clad mountains, lush valleys, dense forests, and rushing streams to hidden rituals in remote monasteries
      and the daily life in far-flung rural communities. Gagel Tours and Travels provides access to the dream Himalayan adventure.
    </p>
  </div>
</div>
<div class="flex bg-white text-black">
  <div class="w-[50%] p-[2rem]">
    <p class="text-justify">Bhutan is a land of unparalleled natural beauty that offers stunning landscapes and breathtaking vistas.
      The country's unique geography, nestled in the eastern Himalayas, boasts snow-capped mountains, verdant valleys,
      dense forests, and rushing rivers. The natural beauty of Bhutan is evident in the many national parks and nature
      reserves that are home to rare and exotic flora and fauna. One such example is the Royal Manas National Park, which
      is home to Bengal tigers, one-horned rhinoceroses, Asian elephants, and other rare species. The Phobjikha Valley,
      known for its black-necked cranes, is a pristine and untouched glacial valley that offers some of the most picturesque
      views in Bhutan. The Paro Valley, with its terraced rice fields, traditional farmhouses, and the iconic Paro Taktsang
      monastery, is another popular destination for tourists. The beauty of Bhutan is not only in its natural landscapes but
      also in its traditional architecture, with intricate wood carvings and colorful paintings adorning the country's many
      dzongs(fortress), monasteries, and temples. Bhutan's unique culture, pristine natural beauty, and traditional architecture make
      it a must-visit destination for those seeking an authentic and enriching travel experience. Gagel Tours and travels ensure
      that his tourist doesn't regret the visit to BHUTAN.
    </p>
  </div>
  <div class="w-[50%] flex justify-center items-center">
    <img width="500" class="imgs" src="https://pickyourtrail.com/blog/wp-content/uploads/2020/05/6590269813_45d2bbea04_b-1.jpg">
  </div>

</div>
<div class="flex flex-row justify-center align-center p-[24px] gap-5 overscroll-x-contain">
  <div *ngFor="let item of [1,2,3,4,5,6,7]">
    <img width="350px" src="https://images.unsplash.com/photo-1621344160477-e67f536098fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDZ8RnpvM3p1T0hONnd8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60">
  </div>
</div>
